* {
    margin:0;
    border:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif; 
}

html{
    scroll-behavior: smooth;
}

body {
    background-color: lightyellow;
}

nav {
    background-color: burlywood;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}

ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

a {
    color: brown;
    text-decoration: none;
    transition: .3s;
}

a:hover { color: rgb(0, 0, 0); }

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
    padding-top: 200px;
}

.projectContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 50px;
}

.card,
#theme-btn {
    background: burlywood;
    color: brown;
    border: 2px solid brown;
    border-radius: 10px;
    transition: .3s;
}

.card { padding: 20px; margin: 20px; }

#theme-btn { padding: 12px 24px; }

#home img {
    width: 40vh;
    border: 15px double brown;
    border-radius: 10%;
    background: burlywood;
}

#home button:hover,
.card:hover,
#theme-btn:hover {
    background: #b37537;
    color: darkred;
}

.dark-mode {
    background: darkgray;
    color: black;
}

.dark-mode nav,
.dark-mode .card,
.dark-mode button,
.dark-mode #theme-btn,
.dark-mode #home img 
{
    background: #303030;
    color: white;
    border-color: black;
}

.dark-mode #home button:hover,
.dark-mode .card:hover,
.dark-mode #theme-btn:hover {
    background: black;
}


.dark-mode a { color: white; }
.dark-mode a:hover { color: black; }

h1 { font-size: 40px; }
h2 {font-size: 30px;}
p {max-width: 65ch;}

/* Tablets and phones */
@media (max-width: 768px) {
    nav{
        padding: 10px;
        top: 0;
    }
    ul {gap: 10px;}
    h1 { font-size: 25px; }
    h2 {font-size: 20px;}
    p, a {
    font-size: 13px;
    }
}